<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container wide">

    <div class="topbar">
        <div>
            <h1>Personal Expense Tracker</h1>
            <p>Welcome, {{ session["username"] }}</p>
        </div>
        <a class="btn secondary" href="/logout">Logout</a>
    </div>

    <div class="summary-card">
        <h2>Total Spending: {{ total }} TL</h2>
        <p>This total belongs only to the logged-in user.</p>
    </div>

    <div class="actions">
        <a class="btn" href="/add">+ Add Expense</a>
    </div>

    <form class="filter-box" method="GET" action="/dashboard">
        <select name="category">
            <option value="">All Categories</option>
            {% for c in categories %}
                <option value="{{ c['category'] }}"
                    {% if selected_category == c['category'] %}selected{% endif %}>
                    {{ c['category'] }}
                </option>
            {% endfor %}
        </select>
        <button type="submit">Filter</button>
    </form>

    {% if expenses %}
    <table>
        <tr>
            <th>Title</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Date</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>

        {% for expense in expenses %}
        <tr>
            <td>{{ expense["title"] }}</td>
            <td>{{ expense["amount"] }} TL</td>
            <td>{{ expense["category"] }}</td>
            <td>{{ expense["expense_date"] }}</td>
            <td>{{ expense["note"] }}</td>
            <td>
                <a class="btn edit" href="/edit/{{ expense['id'] }}">Edit</a>
                <a class="btn secondary" href="/delete/{{ expense['id'] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div class="empty-state">
            <h3>No expenses yet</h3>
            <p>Click Add Expense to create your first record.</p>
        </div>
    {% endif %}

</div>
</body>
</html>